*
  font-family: "Helvetica Neue Light", helvetica

img
  border: 1px solid black

body
  margin: 0
  background-color: #f9f9f9
  
.container
  width: 700px
  margin: 0 auto 40px
  background-color: white
  padding: 20px 20px 80px 20px
  border: 1px solid #ddd
  border-top: none
  
h1
  margin: 0 0 30px 0
  span.edit
    font-size: 16px
  span.category
    font-weight: bold
    
  
a
  text-transform: uppercase
  font-size: 12px
  background-color: none
  color: #333
  padding: 2px 4px
  &:hover
    text-decoration: none
    background-color: #333
    color: white
    
.add-button
  float: right
    
.right
  float: right
    
.left
  float: left
 
.clear
  clear: both
  
.flash
  margin: 10px 0
  &.notice
    color: green
  &.error  
    color: red
  
  
  