ul.nav
  list-style-type: none
  overflow: hidden
  margin: 0 0 10px 0
  padding: 0
  width: 300px
  display: inline
  li
    margin: 5px 0
    padding: 2px 4px
    text-transform: uppercase
    font-size: 12px

.fields
  .input
    display-type: inline

  
  
ul#images
  margin: 0
  padding: 0
  list-style-type: none
  li
    float: left
    margin: 5px
    width: 85px
    &.horizontal
      width: 167px
    div
      width: 60px
    
