ul.nav
  list-style-type: none
  overflow: hidden
  margin: 0 0 10px 0
  padding: 0
  width: 300px
  display: inline
  li
    margin: 5px 0
    padding: 2px 4px
    text-transform: uppercase
    font-size: 12px

.fields
  .input
    display-type: inline

ul#images
  margin: 0
  padding: 0
  list-style-type: none
  width: 400px
  li
    float: left
    margin: 5px 2px
    border: dotted 1px #333
    width: 122px
    &.horizontal
      width: 250px
