%h1 Modern Hippie


%ul#filters
  - @categories.each do |c|
    %li
      = link_to c.name, "#", "data-filter" => ".#{c.name}"
      
%div#container
  - @posts.each do |post|
    %div.item{:class=>post.category.name}
      %h3= post.title
      = image_tag post.image.url(:medium)
