$background_color: #fff
$border_color: #dadbd4

*
  margin: 0
  padding: 0

body
  width: 765px
  margin: 0 auto
  background-color: $background_color
  
#header
  overflow: hidden
  border-bottom: 1px solid $border_color
  padding: 40px
  margin: 0 5px 40px 5px
  img
    width: 174px
    margin: 0 auto
    display: block
  ul#nav
    list-style-type: none
    overflow: hidden
    margin: 20px auto 0
    display: block
    width: 300px
    li
      float: left
      margin: 0 10px
  
#content
  overflow: hidden
  .title
    float: left
    width: 245px
    margin: 5px 5px 20px 5px
    h1
      display: inline
      line-height: 60px
  .body
    float: left
    width: 500px
    margin: 5px 5px 20px 5px
    p
      text-align: justify
      line-height: 24px
  .gallery
    overflow: hidden
    clear: both
    width: 100%
    img
      margin: 5px
      float: left
  
  
#gallery
  width: 840px
  
.image
  width: 220px
  margin: 10px
  float: left
  &.vertical
    width: 245px
  &.horizontal
    width: 500px