$background_color: #fff
$border_color: #dadbd4

*
  margin: 0
  padding: 0
  border: none

body
  background-color: $background_color
  
ul#posts
  overflow: hidden
  margin-bottom: 20px
  li.post
    overflow: hidden
    float: left
    margin: 5px
    position: relative
    width: 245px
    height: 245px
    img
      position: absolute
    h3
      position: absolute
      top: 5px
      left: 5px
      width: 235px
      
.container
  width: 765px
  margin: 0 auto
      
#header
  overflow: hidden
  border-bottom: 1px solid $border_color
  padding: 20px
  margin: 0 5px 40px 5px
  position: fixed
  width: 715px
  z-index: 99999
  background: rgba(255, 255, 255, 0.95)
  
  img
    width: 174px
    margin: 0 auto
    display: block
  ul
    list-style-type: none
    overflow: hidden
    margin: 20px auto 0
    display: block
    width: 300px
    li
      float: left
      margin: 0 10px


.post_show
  #content
    padding-top: 150px
  
#content
  padding-top: 200px
  overflow: hidden
  .title
    float: left
    width: 245px
    margin: 5px 5px 20px 5px
    h1
      display: inline
      line-height: 60px
  .body
    float: left
    width: 500px
    margin: 5px 5px 20px 5px
    p
      text-align: justify
      line-height: 24px
      margin-bottom: 16px

  .gallery
    overflow: hidden
    clear: both
    width: 100%
    margin-bottom: 40px
    img
      margin: 5px
      float: left
  .nav
    overflow: hidden
    padding: 20px 0 0 0
    border-top: 1px solid $border_color


#footer
  border-top: 1px solid $border_color
  padding: 20px 0
  margin: 20px 5px 0 5px
  
.image
  width: 220px
  margin: 10px
  float: left
  &.vertical
    width: 245px
  &.horizontal
    width: 500px
    
    
    
