!!!
%html
  %head
    %title Modern Hippie | Admin
    = stylesheet_link_tag "admin"
    = csrf_meta_tag
  %body
    .container
      - flash.each do |type, value|
        .flash{ :class => type.to_s }
          = value
      = yield
